﻿@model meow.Areas.Admin.ViewModels.UsersIndex

@{
    ViewBag.Title = "Users";
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">

    </div>
</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon-user"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    用户档案
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <a href="@Url.Action("New")" class="btn btn-brand btn-elevate btn-icon-sm">
                            <i class="la la-plus"></i>
                            创建新用户
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">

            <!--begin: Datatable -->
            <table class="table table-striped- table-bordered table-hover" id="kt_table_1">
                <thead>
                    <tr>
                        <th>Record ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>PasswordHash</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td>@string.Join(", ", user.Roles.Select(role => role.Name))</td>
                            <td>@user.PasswordHash</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group">
                                    <a href="@Url.Action("Edit", new {user.Id})" class="btn btn-outline-info">
                                        编辑
                                    </a>
                                    <a href="@Url.Action("ResetPassword", new {user.Id})" class="btn btn-outline-info">
                                        重置密码
                                    </a>
                                    <a href="@Url.Action("Delete", new {user.Id})" class="btn btn-danger" data-post="Are you sure to delete @user.Username?">
                                        删除
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!--end: Datatable -->
        </div>
    </div>
</div>

<!-- end:: Content -->