﻿@model meow.Areas.Admin.ViewModels.UsersNew

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(f => f.Username)
        @Html.TextBoxFor(f => f.Username, new { @class = "form-contrl" })
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.Email)
        @Html.TextBoxFor(f => f.Email, new { @class = "form-contrl", type="email" })
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.Password)
        @Html.TextBoxFor(f => f.Password, new { @class = "form-contrl" })
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Roles</div>
        <div class="panel-body">
            <ul class="list-group">
                @for (var i= 0; i < Model.Roles.Count; i++)
                {
                    <li class="list-group-item">
                        @Html.Hidden("Roles[" + i + "].Id", Model.Roles[i].Id)
                        <label for="Roles_@(i)_IsChecked">
                            @Html.CheckBox("Roles[" + i + "].IsChecked", Model.Roles[i].IsChecked)
                            @Model.Roles[i].Name
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>


    <input type="submit" value="Create User" class="btn btn-primary" />
    <a href="@Url.Action("Index")"></a>
}