﻿@model meow.Areas.Admin.ViewModels.UsersResetPassword

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(f => f.Password)
        @Html.TextBoxFor(f => f.Password, new { @class = "form-contrl" })
    </div>

    <input type="submit" value="Reset Password" class="btn btn-primary" />
    <a href="@Url.Action("Index")"></a>
}