﻿@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>Meow | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @Styles.Render("~/styles")

    <!--begin::Fonts -->
    @* Replace Google font to other fonts *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Favicon -->
    <link rel="shortcut icon" href="~/Content/userMedia/logos/favicon.ico" />
    <!--end::Favicon -->

</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper" style="padding-left: 0px;">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " style="left: 0px;">

                    <!-- begin: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>

                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                            <ul class="kt-menu__nav ">
                                <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.RouteUrl("Home")" class="kt-menu__link "><span class="kt-menu__link-text">主页</span></a></li>
                                <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.RouteUrl("Home")" class="kt-menu__link "><span class="kt-menu__link-text">产品商城</span></a></li>
                                <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.RouteUrl("Home")" class="kt-menu__link "><span class="kt-menu__link-text">市场活动</span></a></li>
                                <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.RouteUrl("Home")" class="kt-menu__link "><span class="kt-menu__link-text">新闻资讯</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar">
                        <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                            <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                                <ul class="kt-menu__nav ">
                                    <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.RouteUrl("Login")" class="kt-menu__link "><span class="kt-menu__link-text">用户登录</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end:: Header Topbar -->

                </div>
                <!-- end:: Header -->

                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content" style="padding-bottom: 0px;">

                    <!-- begin:: Content -->
                    @RenderBody()
                    <!-- end:: Content -->

                </div>

                <!-- begin:: Footer -->
                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            @DateTime.UtcNow.Year&nbsp;&copy;&nbsp;<a href="http://baidu.com" target="_blank" class="kt-link">Henry Meow</a>
                        </div>
                        <div class="kt-footer__menu">
                            <a href="http://baidu.com" target="_blank" class="kt-footer__menu-link kt-link">About</a>
                            <a href="http://baidu.com" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
                            <a href="http://baidu.com" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
                        </div>
                    </div>
                </div>
                <!-- end:: Footer -->

                @Scripts.Render("~/scripts")
                @RenderSection("Scripts", false)

            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>
    <!-- end::Scrolltop -->

</body>

<!-- end::Body -->
</html>