﻿@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>Meow | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @Styles.Render("~/admin/styles")

    <!--begin::Fonts -->
    @* Replace Google font to other fonts *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Favicon -->
    <link rel="shortcut icon" href="~/Content/userMedia/logos/favicon.ico" />
    <!--end::Favicon -->

</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="@Url.RouteUrl("Home")">
                <img alt="Logo" src="~/Content/userMedia/logos/logo-12.png" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->

    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>

            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

                <!-- begin:: Aside Logo & Toggle -->
                <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                    <div class="kt-aside__brand-logo">
                        <a href="@Url.RouteUrl("Home")">
                            <img alt="Logo" src="~/Content/userMedia/logos/logo-12.png">
                        </a>
                    </div>
                    <div class="kt-aside__brand-tools">
                        <button class="kt-aside__brand-aside-toggler" id="kt_aside_toggler"><span></span></button>
                    </div>
                </div>
                <!-- end:: Aside Logo & Toggle -->
                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
                        <ul class="kt-menu__nav ">
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Dashboard", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-home"></i><span class="kt-menu__link-text kt-font-boldest">概览</span></a></li>
                            <li class="kt-menu__section ">
                                <h4 class="kt-menu__section-text kt-font-boldest">销售记录</h4>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Opportunity", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-line-graph"></i><span class="kt-menu__link-text kt-font-boldest">商机记录</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("ListSales", "Opportunity", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-price-tag"></i><span class="kt-menu__link-text kt-font-boldest">销售记录</span></a></li>
                            <li class="kt-menu__section ">
                                <h4 class="kt-menu__section-text kt-font-boldest">客户管理</h4>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Customers", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-earth-globe"></i><span class="kt-menu__link-text kt-font-boldest">客户档案</span></a></li>
                            <li class="kt-menu__section ">
                                <h4 class="kt-menu__section-text kt-font-boldest">经销商管理</h4>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Distributors", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-network"></i><span class="kt-menu__link-text kt-font-boldest">经销商档案</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Orders", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-file-1"></i><span class="kt-menu__link-text kt-font-boldest">订单记录</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Contracts", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-list"></i><span class="kt-menu__link-text kt-font-boldest">订单合同</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Invoices", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-folder-1"></i><span class="kt-menu__link-text kt-font-boldest">订单发票</span></a></li>
                            <li class="kt-menu__section ">
                                <h4 class="kt-menu__section-text kt-font-boldest">售后服务</h4>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Service", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-file-1"></i><span class="kt-menu__link-text kt-font-boldest">维修订单</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("ListInvoices", "Service", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-folder-1"></i><span class="kt-menu__link-text kt-font-boldest">维修发票</span></a></li>
                            <li class="kt-menu__section ">
                                <h4 class="kt-menu__section-text kt-font-boldest">用户管理</h4>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Users", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-user"></i><span class="kt-menu__link-text kt-font-boldest">用户档案</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("ListAdmins", "Users", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-user-ok"></i><span class="kt-menu__link-text kt-font-boldest">管理员</span></a></li>
                            <li class="kt-menu__section ">
                                <h4 class="kt-menu__section-text kt-font-boldest">产品管理</h4>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "ProductManagement", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-open-box"></i><span class="kt-menu__link-text kt-font-boldest">产品库</span></a></li>
                            <li class="kt-menu__section ">
                                <h4 class="kt-menu__section-text kt-font-boldest">活动管理</h4>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "EventManagement", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-presentation"></i><span class="kt-menu__link-text kt-font-boldest">活动档案库</span></a></li>
                            <li class="kt-menu__section ">
                                <h4 class="kt-menu__section-text kt-font-boldest">资讯管理</h4>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "NewsManagement", new { area = "Admin"})" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-alarm-1"></i><span class="kt-menu__link-text kt-font-boldest">资讯档案库</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end:: Aside Menu -->

            </div>
            <!-- end:: Aside -->

            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

                    <!-- begin: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>

                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                            <ul class="kt-menu__nav ">
                                <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.RouteUrl("Home")" class="kt-menu__link "><span class="kt-menu__link-text">主页</span></a></li>
                                <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Products", new { area = "Admin"})" class="kt-menu__link "><span class="kt-menu__link-text">产品商城</span></a></li>
                                <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Events", new { area = "Admin"})" class="kt-menu__link "><span class="kt-menu__link-text">市场活动</span></a></li>
                                <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "News", new { area = "Admin"})" class="kt-menu__link "><span class="kt-menu__link-text">新闻资讯</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar">

                        <!--begin: User Bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                                <div class="kt-header__topbar-user">
                                    <span class="kt-header__topbar-username kt-hidden-mobile">Henry</span>

                                    <img alt="Pic" class="kt-radius-100" src="~/Content/userMedia/users/user2.jpg" />

                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                    <!--<span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">H</span>-->
                                </div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

                                <!--begin: Head -->
                                <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url('/Content/userMedia/misc/bg-1.jpg')">
                                    <div class="kt-user-card__avatar">
                                        <img class="" alt="Pic" src="~/Content/userMedia/users/user2.jpg" />

                                        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                        @*<img class="kt-hidden" alt="Pic" src="~/Content/userMedia/users/user2.jpg" />*@
                                        @*<span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">H</span>*@
                                    </div>
                                    <div class="kt-user-card__name">
                                        Henry Yi
                                    </div>
                                    <div class="kt-user-card__badge">
                                        <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
                                    </div>
                                </div>
                                <!--end: Head -->
                                <!--begin: Navigation -->
                                <div class="kt-notification">
                                    <a href="@Url.Action("Index", "Profile", new { area = "Admin"})" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-calendar-3 kt-font-success"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title kt-font-boldest">
                                                用户信息
                                            </div>
                                            <div class="kt-notification__item-time">
                                                用户账号信息和设置
                                            </div>
                                        </div>
                                    </a>
                                    <div class="kt-notification__custom kt-space-between">
                                        <a href="@Url.RouteUrl("Logout")" class="btn btn-label btn-label-brand btn-sm btn-bold">退出登录</a>
                                    </div>
                                </div>
                                <!--end: Navigation -->

                            </div>
                        </div>
                        <!--end: User Bar -->

                    </div>
                    <!-- end:: Header Topbar -->

                </div>
                <!-- end:: Header -->

                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                    <!-- begin:: Content -->
                    @RenderBody()
                    <!-- end:: Content -->

                </div>

                <!-- begin:: Footer -->
                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            @DateTime.UtcNow.Year&nbsp;&copy;&nbsp;<a href="http://baidu.com" target="_blank" class="kt-link">Henry Meow</a>
                        </div>
                        <div class="kt-footer__menu">
                            <a href="http://baidu.com" target="_blank" class="kt-footer__menu-link kt-link">About</a>
                            <a href="http://baidu.com" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
                            <a href="http://baidu.com" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
                        </div>
                    </div>
                </div>
                <!-- end:: Footer -->

                @Scripts.Render("~/admin/scripts")
                @RenderSection("Scripts", false)

            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>
    <!-- end::Scrolltop -->

    <form class="hidden" id="anti-forgery-form">
        @Html.AntiForgeryToken()
    </form>

</body>

<!-- end::Body -->
</html>