﻿@{
    ViewBag.Title = "Products";
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title kt-font-bolder">产品中心</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">全部产品</span>
        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>
<!-- end:: Content Head -->

<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-2">
            <!--begin:: Widgets/Blog-->
            <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
                <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--unfill">
                    <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides" style="min-height: 300px; background-image: url(/Content/userMedia/products/product-1.jpg)">
                        <a href="" class="kt-widget19__title kt-font-light h4">产品名称</a>

                        <div class="kt-widget19__shadow"></div>
                        <div class="kt-widget19__labels">
                            <a href="#" class="btn btn-danger btn-sm ">产品类别</a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget19__wrapper">
                        <div class="kt-widget19__content">
                            <div class="kt-widget19__info">
                                <a href="#" class="kt-widget19__username h4 kt-font-danger kt-font-bolder">
                                    1800.00
                                </a>
                                <span class="kt-widget19__time">
                                    Lorem Ipsum is simply dummy text of the ...
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->
        </div>
        <div class="col-xl-2">
            <!--begin:: Widgets/Blog-->
            <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
                <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--unfill">
                    <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides" style="min-height: 300px; background-image: url(/Content/userMedia/products/product-2.jpg)">
                        <a href="" class="kt-widget19__title kt-font-light h4">产品名称</a>

                        <div class="kt-widget19__shadow"></div>
                        <div class="kt-widget19__labels">
                            <a href="#" class="btn btn-danger btn-sm ">产品类别</a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget19__wrapper">
                        <div class="kt-widget19__content">
                            <div class="kt-widget19__info">
                                <a href="#" class="kt-widget19__username h4 kt-font-danger kt-font-bolder">
                                    1800.00
                                </a>
                                <span class="kt-widget19__time">
                                    Lorem Ipsum is simply dummy text of the ...
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->
        </div>
        <div class="col-xl-2">
            <!--begin:: Widgets/Blog-->
            <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
                <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--unfill">
                    <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides" style="min-height: 300px; background-image: url(/Content/userMedia/products/product-3.jpg)">
                        <a href="" class="kt-widget19__title kt-font-light h4">产品名称</a>

                        <div class="kt-widget19__shadow"></div>
                        <div class="kt-widget19__labels">
                            <a href="#" class="btn btn-danger btn-sm ">产品类别</a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget19__wrapper">
                        <div class="kt-widget19__content">
                            <div class="kt-widget19__info">
                                <a href="#" class="kt-widget19__username h4 kt-font-danger kt-font-bolder">
                                    1800.00
                                </a>
                                <span class="kt-widget19__time">
                                    Lorem Ipsum is simply dummy text of the ...
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->
        </div>
        <div class="col-xl-2">
            <!--begin:: Widgets/Blog-->
            <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
                <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--unfill">
                    <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides" style="min-height: 300px; background-image: url(/Content/userMedia/products/product-4.jpg)">
                        <a href="" class="kt-widget19__title kt-font-light h4">产品名称</a>

                        <div class="kt-widget19__shadow"></div>
                        <div class="kt-widget19__labels">
                            <a href="#" class="btn btn-danger btn-sm ">产品类别</a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget19__wrapper">
                        <div class="kt-widget19__content">
                            <div class="kt-widget19__info">
                                <a href="#" class="kt-widget19__username h4 kt-font-danger kt-font-bolder">
                                    1800.00
                                </a>
                                <span class="kt-widget19__time">
                                    Lorem Ipsum is simply dummy text of the ...
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->
        </div>
        <div class="col-xl-2">
            <!--begin:: Widgets/Blog-->
            <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
                <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--unfill">
                    <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides" style="min-height: 300px; background-image: url(/Content/userMedia/products/product-1.jpg)">
                        <a href="" class="kt-widget19__title kt-font-light h4">产品名称</a>

                        <div class="kt-widget19__shadow"></div>
                        <div class="kt-widget19__labels">
                            <a href="#" class="btn btn-danger btn-sm ">产品类别</a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget19__wrapper">
                        <div class="kt-widget19__content">
                            <div class="kt-widget19__info">
                                <a href="#" class="kt-widget19__username h4 kt-font-danger kt-font-bolder">
                                    1800.00
                                </a>
                                <span class="kt-widget19__time">
                                    Lorem Ipsum is simply dummy text of the ...
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->
        </div>
        <div class="col-xl-2">
            <!--begin:: Widgets/Blog-->
            <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
                <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--unfill">
                    <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides" style="min-height: 300px; background-image: url(/Content/userMedia/products/product-2.jpg)">
                        <a href="" class="kt-widget19__title kt-font-light h4">产品名称</a>

                        <div class="kt-widget19__shadow"></div>
                        <div class="kt-widget19__labels">
                            <a href="#" class="btn btn-danger btn-sm ">产品类别</a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget19__wrapper">
                        <div class="kt-widget19__content">
                            <div class="kt-widget19__info">
                                <a href="#" class="kt-widget19__username h4 kt-font-danger kt-font-bolder">
                                    1800.00
                                </a>
                                <span class="kt-widget19__time">
                                    Lorem Ipsum is simply dummy text of the ...
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->
        </div>
    </div>
    <!--End::Section-->

</div>
<!-- end:: Content -->