﻿@{
    ViewBag.Title = "Error";
}

<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1" style="background-image: url(Content/Images/error/bg1.jpg);">
        <div class="kt-error-v1__container">
            <h1 class="kt-error-v1__number">404</h1>
            <p class="kt-error-v1__desc">
                OOPS! Something went wrong here
            </p>
        </div>
    </div>
</div>
